
<div class="tab-content p-3">
  <div class="tab-pane fade show active" id="tab-company" role="tabpanel" aria-labelledby="tab-company">
    <partial name="CompanyInfo" />
  </div>
  <div class="tab-pane fade" id="tab-contact" role="tabpanel" aria-labelledby="tab-contact">
    <partial name="Contacts" />
  </div>
  <div class="tab-pane fade" id="tab-application" role="tabpanel" aria-labelledby="tab-application">
    <partial name="Projects" />
  </div>
  <div class="tab-pane fade " id="tab-activity" role="tabpanel" aria-labelledby="tab-activity">
    <partial name="Activities" />
  </div>
  <div class="tab-pane fade" id="tab-quotation" role="tabpanel" aria-labelledby="tab-quotation">
    <partial name="Quotations" />
  </div>
  <div class="tab-pane fade" id="tab-sales" role="tabpanel" aria-labelledby="tab-sales">
    <partial name="Sales" />
  </div>
</div>
