@page
@model AccessDeniedModel
@{
  ViewData["Title"] = "Access denied";
}

  <div class="col-xl-6 ml-auto mr-auto">
    <div class="p-4 text-center text-white">
      <h3>You cannot visit this resource.</h3>
      <p>You can apply for authorization from the administrator.</p>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4 ml-auto text-left pr-1">
        <a class="btn btn-block btn-primary mt-3 btn-link text-white ml-auto border-0" asp-area="Identity" asp-page="/account/login">
          <i class="fal fa-shield-check fs-lg mr-1"></i> Re-login
        </a>
      </div>
       
    </div>
  </div>
