@model MicroCrm.Domain.Models.AqDetail
@{
  Layout = null;
}

<form id="aqDetail-form" class="needs-validation" asp-action="AddOrEditAqDetail" novalidate>
  <div class="panel-content">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="QaId" />
    <div class="form-row">
      <div class="col-md-6 mb-3">
        @Html.DropDownList("ProductId", (IEnumerable<SelectListItem>)ViewBag.Products, (Model != null && Model.ProductId != null ? Model.ProductId.ToString() : ""), new { @class = "select2 form-control", @onchange = "selectProduct()", required = "required" })
        <div class="invalid-feedback" asp-validation-for="ProductId">
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <button class="form-control btn btn-info btn-sm btn-icon waves-effect waves-themed" onclick="appendProduct()" type="button" style="min-width: 40px;" title="Add Product"><i class="fal fa-folder-plus"></i> </button>
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label" asp-for="PartNo">  </label>
        <input type="text" class="form-control" asp-for="PartNo" required maxlength="50">
        <div class="invalid-feedback" asp-validation-for="PartNo">
        </div>
      </div>
      <div class="col-md-9 mb-3">
        <label class="form-label" asp-for="ItemName">  </label>
        <input type="text" class="form-control" asp-for="ItemName" maxlength="128">
        <div class="invalid-feedback" asp-validation-for="ItemName">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label class="form-label" asp-for="Qty">  </label>
        <input type="text" placeholder="" data-inputmask="'alias': 'integer'" class="form-control integer" asp-for="Qty">
        <div class="invalid-feedback" asp-validation-for="Qty">
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label" asp-for="Price">  </label>
        <input type="text" placeholder="" data-inputmask="'alias': 'currency'" onchange="calculatePrice()" class="form-control currency" asp-for="Price">
        <div class="invalid-feedback" asp-validation-for="Price">
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label" asp-for="ShipFee">  </label>
        <input type="text" placeholder="" data-inputmask="'alias': 'currency'" onchange="calculatePrice()" class="form-control currency" asp-for="ShipFee">
        <div class="invalid-feedback" asp-validation-for="ShipFee">
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label" asp-for="Margin">  </label>
        <input type="text" placeholder="" data-inputmask="'alias': 'percentage'" onchange="calculatePrice()" class="form-control currency" asp-for="Margin">
        <div class="invalid-feedback" asp-validation-for="Margin">
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label" asp-for="Discount">  </label>
        <input type="text" placeholder="" data-inputmask="'alias': 'percentage'" onchange="calculatePrice()" class="form-control currency" asp-for="Discount">
        <div class="invalid-feedback" asp-validation-for="Discount">
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label" asp-for="Vat">  </label>
        <input type="text" placeholder="" data-inputmask="'alias': 'percentage'" onchange="calculatePrice()" class="form-control currency" asp-for="Vat">
        <div class="invalid-feedback" asp-validation-for="Vat">
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label" asp-for="ImportTax">  </label>
        <input type="text" placeholder="" data-inputmask="'alias': 'percentage'" onchange="calculatePrice()" class="form-control currency" asp-for="ImportTax">
        <div class="invalid-feedback" asp-validation-for="ImportTax">
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label" asp-for="OtherFee">  </label>
        <input type="text" placeholder="" data-inputmask="'alias': 'currency'" onchange="calculatePrice()" class="form-control currency" asp-for="OtherFee">
        <div class="invalid-feedback" asp-validation-for="OtherFee">
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label" asp-for="Exchange">  </label>
        <input type="text" placeholder="" data-inputmask="'alias': 'currency'" onchange="calculatePrice()" class="form-control currency" asp-for="Exchange">
        <div class="invalid-feedback" asp-validation-for="OtherFee">
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label class="form-label" asp-for="Amount">  </label>
        <input type="text" placeholder="" data-inputmask="'alias': 'currency'" class="form-control currency" asp-for="Amount" disabled>
        <div class="invalid-feedback" asp-validation-for="Amount">
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">Formula</label>
        <label class="form-label">Amount = (((Price + ShipFee) / Margin (%) / ImportTax (%) ) * Vat (%) * Exchange) + OtherFee</label>
      </div>
    </div>


  </div>
  <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row align-items-center p-2">
    <button class="btn btn-primary ml-auto"  type="button" onclick="saveAqDetail()">Submit</button>
  </div>
</form>

<script>

  $(document).ready(function () {
    $(function () {
      $('.select2').select2();
      $('.integer').inputmask();
      $('.currency').inputmask();
    });
  });

  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';

    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = $('#aqDetail-form');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          } else {
            event.preventDefault();
            event.stopPropagation();
            var request = $('#aqDetail-form').serializeJSON();
            request.Margin = request.Margin.replaceAll("%", "");
            request.Discount = request.Discount.replaceAll("%", "");
            request.Vat = request.Vat.replaceAll("%", "");
            request.ImportTax = request.ImportTax.replaceAll("%", "");

            var obj = $('#aqDetail-form').serializeJSON();
            obj.Price = obj.Price.replaceAll(",", "");
            if (obj.Price.substr(obj.Price.length - 1) == ".")
              obj.Price = obj.Price.replaceAll(".", "");
            obj.ShipFee = obj.ShipFee.replaceAll(",", "");
            if (obj.ShipFee.substr(obj.ShipFee.length - 1) == ".")
              obj.ShipFee = obj.ShipFee.replaceAll(".", "");
            obj.Exchange = obj.Exchange.replaceAll(",", "");
            if (obj.Exchange.substr(obj.Exchange.length - 1) == ".")
              obj.Exchange = obj.Exchange.replaceAll(".", "");
            obj.OtherFee = obj.OtherFee.replaceAll(",", "");
            if (obj.OtherFee.substr(obj.OtherFee.length - 1) == ".")
              obj.OtherFee = obj.OtherFee.replaceAll(".", "");

            obj.Price = parseFloat(obj.Price);
            obj.ShipFee = parseFloat(obj.ShipFee);
            obj.Margin = parseFloat(obj.Margin) == 0 ? 1 : parseFloat(obj.Margin) / 100;
            obj.Discount = parseFloat(obj.Discount) == 0 ? 1 : parseFloat(obj.Discount) / 100;
            obj.Vat = parseFloat(obj.Vat) == 0 ? 1 : parseFloat(obj.Vat) / 100;
            obj.ImportTax = parseFloat(obj.ImportTax) == 0 ? 1 : parseFloat(obj.ImportTax) / 100;
            obj.OtherFee = parseFloat(obj.OtherFee);
            obj.Exchange = parseFloat(obj.Exchange);

            request.Amount = Math.floor((((obj.Price + obj.ShipFee) / obj.Margin / obj.ImportTax) * obj.Vat * obj.Exchange) + obj.OtherFee);
            console.log(request)
            $.post('/Quotations/AddOrEditAqDetail', {
              __RequestVerificationToken: request.__RequestVerificationToken,
              request
            }).done(res => {
              if (res.success) {
                $('#aqDetail-modal').modal('toggle');
                reloadAqDetail();
                toastr.success("Saved successfully");
              }
              else {
                //$.messager.alert('Error', res.err)
              }
            });

          }
          form.classList.add('was-validated');
        }, false);
      });

    }, false);
  })();

  function saveAqDetail() {
    var request = $('#aqDetail-form').serializeJSON();
    request.Margin = request.Margin.replaceAll("%", "");
    request.Discount = request.Discount.replaceAll("%", "");
    request.Vat = request.Vat.replaceAll("%", "");
    request.ImportTax = request.ImportTax.replaceAll("%", "");

    var obj = $('#aqDetail-form').serializeJSON();
    obj.Price = obj.Price.replaceAll(",", "");
    if (obj.Price.substr(obj.Price.length - 1) == ".")
      obj.Price = obj.Price.replaceAll(".", "");
    obj.ShipFee = obj.ShipFee.replaceAll(",", "");
    if (obj.ShipFee.substr(obj.ShipFee.length - 1) == ".")
      obj.ShipFee = obj.ShipFee.replaceAll(".", "");
    obj.Exchange = obj.Exchange.replaceAll(",", "");
    if (obj.Exchange.substr(obj.Exchange.length - 1) == ".")
      obj.Exchange = obj.Exchange.replaceAll(".", "");
    obj.OtherFee = obj.OtherFee.replaceAll(",", "");
    if (obj.OtherFee.substr(obj.OtherFee.length - 1) == ".")
      obj.OtherFee = obj.OtherFee.replaceAll(".", "");

    obj.Price = parseFloat(obj.Price);
    obj.ShipFee = parseFloat(obj.ShipFee);
    obj.Margin = parseFloat(obj.Margin) == 0 ? 1 : parseFloat(obj.Margin) / 100;
    obj.Discount = parseFloat(obj.Discount) == 0 ? 1 : parseFloat(obj.Discount) / 100;
    obj.Vat = parseFloat(obj.Vat) == 0 ? 1 : parseFloat(obj.Vat) / 100;
    obj.ImportTax = parseFloat(obj.ImportTax) == 0 ? 1 : parseFloat(obj.ImportTax) / 100;
    obj.OtherFee = parseFloat(obj.OtherFee);
    obj.Exchange = parseFloat(obj.Exchange);

    request.Amount = Math.floor((((obj.Price + obj.ShipFee) / obj.Margin / obj.ImportTax) * obj.Vat * obj.Exchange) + obj.OtherFee);
    $.post('/Quotations/AddOrEditAqDetail', {
      __RequestVerificationToken: request.__RequestVerificationToken,
      request
    }).done(res => {
      console.log(res);
      if (res.success) {
        $('#aqDetail-modal').modal('toggle');
        reloadAqDetail();
        toastr.success("Saved successfully");
      }
      else {
        //$.messager.alert('Error', res.err)
      }
    });
  }

  function selectProduct() {
    var productId = document.getElementById("ProductId").value;
    $.ajax({
      url: '@Url.Action("GetById", "Products")',
      type: 'GET',
      cache: false,
      data: { id: productId }
    }).done(function (res) {
      var result = JSON.parse(res.result);
      console.log(result)
      $("#PartNo").val(result.Model);
      $("#ItemName").val(result.Name);
      $("#Price").val(result.UnitPrice);
    });
  };
  //Added records
  function appendProduct() {
    product = {
      Name: '',
      Model: '',
      Unit: '',
      UnitPrice: '',
      ImagePath: '',
      Description: ''
    };
    //The Added window pops up
    openProductDetailWindow(product, 'Added');
  }

  function calculatePrice() {
    var obj = $('#aqDetail-form').serializeJSON();
    obj.Price = obj.Price.replaceAll(",", "");
    if (obj.Price.substr(obj.Price.length - 1) == ".")
      obj.Price = obj.Price.replaceAll(".", "");
    obj.ShipFee = obj.ShipFee.replaceAll(",", "");
    if (obj.ShipFee.substr(obj.ShipFee.length - 1) == ".")
      obj.ShipFee = obj.ShipFee.replaceAll(".", "");
    obj.Exchange = obj.Exchange.replaceAll(",", "");
    if (obj.Exchange.substr(obj.Exchange.length - 1) == ".")
      obj.Exchange = obj.Exchange.replaceAll(".", "");
    obj.OtherFee = obj.OtherFee.replaceAll(",", "");
    if (obj.OtherFee.substr(obj.OtherFee.length - 1) == ".")
      obj.OtherFee = obj.OtherFee.replaceAll(".", "");

    obj.Price = parseFloat(obj.Price);
    obj.ShipFee = parseFloat(obj.ShipFee);
    obj.Margin = parseFloat(obj.Margin) == 0 ? 1 : parseFloat(obj.Margin) / 100;
    obj.Discount = parseFloat(obj.Discount) == 0 ? 1 : parseFloat(obj.Discount) / 100;
    obj.Vat = parseFloat(obj.Vat) == 0 ? 1 : parseFloat(obj.Vat) / 100;
    obj.ImportTax = parseFloat(obj.ImportTax) == 0 ? 1 : parseFloat(obj.ImportTax) / 100;
    obj.OtherFee = parseFloat(obj.OtherFee);
    obj.Exchange = parseFloat(obj.Exchange);
    obj.Amount = parseFloat(obj.Amount);

    obj.Amount = Math.floor((((obj.Price + obj.ShipFee) / obj.Margin / obj.ImportTax) * obj.Vat * obj.Exchange) + obj.OtherFee);
    $("#Amount").val(obj.Amount);
  }
</script>


